name: CI Docs

on:
    push:
        branches: [master]

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
          - uses: actions/checkout@v2

          - name: Setup JDK
            uses: actions/setup-java@v1
            with:
                java-version: 11

          - name: Run javadoc
            run: ./gradlew javadoc
